.tabs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

  .tab {
    padding: 10px 30px;
    margin: 1px;
    flex: auto;
    text-align: center;
  }
}

.tab_panel {
  width: 100%;
  overflow: hidden;
  position: relative;

  .panel_item {
    //background-color: #0a53be;
    width: 100%;
    color: white;
    transform: translateX(100%);
    position: absolute;
    transition: all 1s linear;
    overflow: hidden;
  }

  .active {
    position: unset;
    transform: translateX(0);
  }
}