.slider {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden; }
  @media (max-width: 768px) {
    .slider {
      height: 200px; } }
  .slider a.previousButton, .slider a.nextButton {
    font-size: 22px;
    line-height: 0;
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .3s linear;
    z-index: 1;
    padding: 10px;
    text-decoration: none;
    backface-visibility: hidden;
    /* prevent jump effect when scaling */ }
    .slider a.previousButton:not(.disabled):hover, .slider a.nextButton:not(.disabled):hover {
      transform: translateY(-50%) scale(1.25);
      cursor: pointer; }
    .slider a.previousButton svg polygon, .slider a.nextButton svg polygon {
      fill: #1993e7; }
  .slider a.previousButton {
    left: 20px; }
  .slider a.nextButton {
    right: 20px; }

.sliderContent {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  background-size: cover !important; }
  .sliderContent:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
    left: 0; }
  .sliderContent.hidden {
    visibility: hidden; }
  .sliderContent.previous {
    left: -100%; }
  .sliderContent.current {
    left: 0; }
  .sliderContent.next {
    left: 100%; }
  .sliderContent.animateIn, .sliderContent.animateOut {
    transition: all 2s ease; }
  .sliderContent.animateIn.previous, .sliderContent.animateIn.next {
    left: 0;
    visibility: visible; }
    .sliderContent.animateIn.previous p, .sliderContent.animateIn.next p {
      transition-delay: 1.1s; }
    .sliderContent.animateIn.previous button, .sliderContent.animateIn.next button {
      transition-delay: 1.3s; }
    .sliderContent.animateIn.previous section img, .sliderContent.animateIn.next section img {
      transition-delay: 1.3s; }
    .sliderContent.animateIn.previous section span, .sliderContent.animateIn.next section span {
      transition-delay: 1.4s; }
    .sliderContent.animateIn.previous section span strong, .sliderContent.animateIn.next section span strong {
      transition-delay: 1.5s; }
  .sliderContent.animateOut.previous {
    left: 100%; }
  .sliderContent.animateOut.next {
    left: -100%; }
  .sliderContent.animateOut h1 {
    transition-delay: .3s; }
  .sliderContent.animateOut p {
    transition-delay: .2s; }
  .sliderContent.animateOut section span {
    transition-delay: .1s; }
  .sliderContent.animateOut section span strong {
    transition-delay: 0s; }
  .sliderContent.current h1, .sliderContent.current button, .sliderContent.current p, .sliderContent.current section *, .sliderContent.animateIn h1, .sliderContent.animateIn button, .sliderContent.animateIn p, .sliderContent.animateIn section * {
    transform: translateX(0);
    transition-delay: .9s;
    opacity: 1; }
  .sliderContent .inner {
    padding: 0 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .sliderContent h1 {
    font-weight: 900;
    margin: 0 auto;
    max-width: 840px;
    color: #FFFFFF;
    font-size: 64px;
    line-height: 1;
    transition: all .3s ease;
    transform: translateY(-20px);
    opacity: 0; }
    @media (max-width: 768px) {
      .sliderContent h1 {
        font-size: 25px; } }
  .sliderContent p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 1.5;
    margin: 20px auto 30px;
    max-width: 640px;
    transition: all .3s ease;
    transform: translateY(20px);
    opacity: 0; }
    @media (max-width: 768px) {
      .sliderContent p {
        font-size: 12px;
        margin: 10px auto 15px; } }
  .sliderContent button {
    transform: translateY(20px);
    opacity: 0;
    transition: background .5s ease, color .5s ease;
    border: none;
    color: white;
    border-radius: 30px;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 40px;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer; }
    @media (max-width: 768px) {
      .sliderContent button {
        font-size: 11px;
        padding: 10px 20px; } }
  .sliderContent section {
    position: absolute;
    bottom: 20px;
    left: 20px; }
    .sliderContent section * {
      transition: all .3s ease; }
    .sliderContent section span {
      color: rgba(255, 255, 255, 0.5);
      font-size: 12px;
      display: inline-block;
      text-align: left;
      line-height: 1.4;
      vertical-align: middle;
      margin-left: 10px;
      transform: translateX(-10px);
      opacity: 0; }
      .sliderContent section span strong {
        color: #FFFFFF;
        font-size: 14px;
        display: block;
        transform: translateY(10px);
        opacity: 0; }
    .sliderContent section img {
      width: 40px;
      height: 40px;
      border: solid 2px rgba(255, 255, 255, 0.5);
      border-radius: 100%;
      vertical-align: middle;
      transition: all .5s ease;
      transform: translateX(-20px);
      opacity: 0; }

/*# sourceMappingURL=SingleSlider.module.css.map */
