
.navbar {
  background-color: #ffffff;
  padding: 0 20px;
  @media (max-width: 991px) {
    display: block;
    padding: 10px 20px;
  }

  .logo {
    transition: all 250ms linear;

    img {
      //width: 150px;
      //height: 80px;
      padding: 10px;
      display: block;
    }

  }

  .nav {
    margin-left: auto;

    ul {
      list-style: none;
      @media (max-width: 991px) {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        z-index: 10000;
        text-align: center;
        transform: translateY(-50%);
        list-style: none;
        li {
          padding: 20px 0 20px 0;
          a{
            color: #ececee;
            &:before {
              height: 5px;
              width: 100%;
              bottom: 5px;
              background-color: #1993e7;
              transform: translateX(-101%);
            }

            &:hover {
              transform: translateX(0);
            }
          }
        }
      }

      .active {
        color: #1993e7;
        font-weight: bold;
        &:before {
          transform: translateX(0) !important;
        }

      }
    }

    li {
      padding: 20px 10px 20px 0;
      margin: 2px;
      position: relative;
      overflow: hidden;

      a {
        text-decoration: none;
        color: #1d1d1d;
        text-transform: uppercase;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          width: 95%;
          bottom: 6px;
          background-color: #1993e7;
          transform: translateY(18px);
          transition: all .3s linear;
        }

        &:hover {
          &:before {
            transform: translateY(0);
          }
        }
      }



    }


    @media (max-width: 991px) {
      position: absolute;
      top: 15px;
      right: 12px;
      display: unset;
      width: 40px;
      height: 40px;
      padding: 20px;
      margin: 0;
      z-index: 100;
      box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
      background-color: #353746;
      //animation: border-transform 7s linear infinite;
      transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
      right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
      transform 250ms 1100ms ease,
      width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
      height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
      @keyframes border-transform {
        0%, 100% {
          border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
        }
        14% {
          border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
        }
        28% {
          border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
        }
        42% {
          border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
        }
        56% {
          border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
        }
        70% {
          border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
        }
        84% {
          border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
        }
      }
      ul, .search_bar {
        transition: all 0.5s linear;
        transform: scale(0);
      }
      .nav_inner {
        &::-webkit-scrollbar {
          width: 0;
        }

        overflow-y: scroll;
        height: 100%;
        width: 100%;
        padding-top: 50px;
        position: relative;
      }

    }


  }


  .menu_icon[type="checkbox"] {
    &:checked, &:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    @media (max-width: 991px) {
      & + label {
        position: absolute;
        top: 25px;
        right: 20px;
        display: block;
        width: 23px;
        height: 30px;
        padding: 0;
        margin: 0;
        cursor: pointer;
        z-index: 1000;
      }

      &:checked, &:not(:checked) {
        & + label {
          &:before {
            position: absolute;
            content: '';
            display: block;
            width: 23px;
            height: 15px;
            z-index: 20;
            top: 2px;
            left: 0;
            border-top: 1px solid #ececee;
            border-bottom: 1px solid #ececee;
            transition: border-width 100ms 1500ms ease,
            top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
            height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
            background-color 200ms ease,
            transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
          }

          &:after {
            position: absolute;
            content: '';
            display: block;
            width: 15px;
            height: 1px;
            z-index: 20;
            top: 10px;
            right: 4px;
            background-color: #ececee;
            margin-top: -1px;
            transition: width 100ms 1750ms ease,
            right 100ms 1750ms ease,
            margin-top 100ms ease,
            transform 200ms cubic-bezier(0.23, 1, 0.32, 1);

          }

        }

      }

      &:checked {
        & + label {
          &:before {
            top: 10px;
            transform: rotate(45deg);
            height: 1px;
            background-color: #ececee;
            border-width: 0;
            transition: border-width 100ms 340ms ease,
            top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
            background-color 200ms 500ms ease,
            transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
          }

          &:after {
            width: 23px;
            margin-top: 0;
            right: 0;
            transform: rotate(-45deg);
            transition: width 100ms ease,
            right 100ms ease,
            margin-top 100ms 500ms ease,
            transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
          }
        }

        & ~ .nav {
          animation-play-state: paused;
          top: 50%;
          right: 50%;
          transform: translate(50%, -50%);
          width: 100%;
          height: 100%;
          transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
          right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 250ms 700ms ease,
          width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
          height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);

          ul, .search_bar {
            transition: all 2s linear;
            transform: scale(1);
          }

        }
      }


    }
  }


}


//navbar search button
.search_bar {
  position: relative;
  width: 50px;
}

.search_bar_inner {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 40px;
  height: 40px;

  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #1993e7;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    // box-shadow: 0 0 25px 0 crimson;
    &:hover {
      cursor: pointer;
    }

    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 10px;
      right: 0;
      bottom: 0;
      left: 10px;
      width: 7px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }

    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }

  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    outline: none;
    border: none;
    background: #ffffff;
    color: black;
    border-radius: 30px;
    box-shadow: 0 0 10px 0 #0e879e,
    0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      width: 250px;
      padding: 0 80px 0 20px;
      opacity: 1;
      cursor: text;
    }

    &:focus ~ .search {
      background: #f00d51;
      z-index: 6;

      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }

      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }

    &::placeholder {
      color: #5f5f5f;
      opacity: 1;
    }
  }
}

@media (max-width: 991px) {
  .search_bar {
    position: absolute;
    top: 22px;
    right: 0;
    z-index: 20;

    .search_bar_inner {
      left: auto;
      right: 50px;
    }
  }
}

@media (max-width: 576px) {
  .search_bar {
    input {
      &:focus {
        width: 250px;
      }
    }
  }
}

@media (max-width: 360px) {
  .search_bar {
    input {
      &:focus {
        width: 200px;
      }
    }
  }
}

//navbar search button