@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Sora', sans-serif;
}
.blurry_bg{
  background-color: rgba(0, 0, 0, 0.22);
}
.display-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.mt-3 {
  margin-top: 24px;
}

.mt-4 {
  margin-top: 32px;
}

.mt-5 {
  margin-top: 40px;
}

.mb-1 {
  margin-bottom: 8px;
}

.mb-2 {
  margin-bottom: 16px;
}

.mb-3 {
  margin-bottom: 24px;
}

.mb-4 {
  margin-bottom: 32px;
}

.mb-5 {
  margin-bottom: 40px;
}

.title {
  color: #581b98;
}

.text_uppercase {
  text-transform: uppercase;
}

.splide__slide {
  .slider_content {
    transform: translateY(-100%);
    transition: all .3s ease;
  }

  &:hover {
    .slider_content {
      transform: translateY(0);
    }

  }
}

.contact_map {
  height: 100%;
}

.product_details {
  .splide__arrow--prev {
    left: -2em;
  }

  .splide__arrow--next {
    right: -2em;
  }
  .is-active{
    border: none!important;
  }
  .active{
    border: 3px solid #00bfff !important;
    opacity: 1!important;
  }


  @media (max-width: 991px) {
    .splide__arrow--prev {
      display: none;
    }
    .splide__arrow--next {
      display: none;
    }
  }
}

.cart_quantity::-webkit-inner-spin-button,
.cart_quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.splide_hide_arrow{
  .splide__arrows{
    display: none !important;
  }
}